<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Add Product</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    <link rel="stylesheet" href="/CSS/Admin/addproduct.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
 <br>
    <a href="/adminpanel"><i class="fa fa-arrow-circle-left"
         style="font-size:40px; color:white; margin-left:20px; " ></i></a>
   
<div class="main-form">
    <div class="container">
      <h1 class="form-title">Add Product</h1>
      <form action="/addproduct" method="post" enctype="multipart/form-data">
        <div class="main-product-info">
          <div class="product-input-box">
            <label for="ProductID">Product ID</label>
            <input type="number"
                    id="ProductId"
                    name="pid"
                    placeholder="Enter Product ID"/>
          </div>
          <div class="product-input-box">
            <label for="ProductName">Product Name</label>
            <input type="text"
                    id="productName"
                    name="pname"
                    placeholder="Enter Product Name"/>
          </div>
          <div class="product-input-box">
            <label for="Discription">Discription</label>
            <input type="text"
                    id="discription"
                    name="dis"
                    placeholder="Enter Product Discription"/>
          </div>
          <div class="product-input-box">
            <label for="phoneNumber">Catagory</label>
            <select name="catagory">
                <option value="Cat">Cat</option>
                <option value="Dog">Dog</option>
                <option value="Fish">Fish</option>
                <option value="Birds">Birds</option>
            </select>
          </div>
          <div class="product-input-box">
            <label for="price">Price</label>
            <input type="number"
                    id=""
                    name="price"
                    placeholder="Enter price"/>
          </div>
          <div class="product-input-box">
            <label for="price">Quantity</label>
            <input type="number"
                    id=""
                    name="quantity"
                    placeholder="Enter Quantity"/>
          </div>
          <div class="product-input-box" id="piture-box">
            <label for="product">Add Picture</label>
            <input type="file" id="" name="img">
            
          </div>
        </div>
   
        <div class="form-submit-btn">
          <input type="submit" value="Add Product">
        </div>
      </form>
    </div>
</div>


  </body>
</html