<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Add Product</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    <link rel="stylesheet" href="/CSS/user/feedback.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
 
    <a href=""><i class="fa fa-arrow-circle-left"
         style="font-size:48px; color:white; margin-left:20px; " ></i></a>
   
<div class="main-form">
    <div class="container">
      <h1 class="form-title">Feedback</h1>
      <form action="/feedback" method="post">
        <div class="main-feedback-info">
           <div class="feedback-input-box">
            <label for="type">Message Type</label>
            <select name="type" id="">
                <option value="Suggestion" >Suggestion</option>
                <option value="Complaint">Complaint</option>
                <option value="Feedback" >Feedback</option>  
            </select>
          </div>
          <div class="feedback-textarea ">
            <label for="price">Message</label>
            <textarea name="feedback" id="" rows="10" cols="83"  required></textarea>
          </div>
         
        </div>
   
        <div class="form-submit-btn">
          <input type="submit" value="Send Message">
        </div>
      </form>
    </div>
</div>
  </body>
</html