<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/CSS/user/Signup.css">
</head>
<body>
    <section>  
   <div class="contentBox">
    <div class="formatBox">
        <h2>Sign Up</h2>
        <form action="/Signup" method="post">
            <div class="inputBox">
                <span>First Name</span>
                <input type="text" name="Fname" minlength="3" required >
            </div>
            <div class="inputBox">
              <span>Last Name</span>
              <input type="text" name="Lname" minlength="3" required>
          </div>
          <div class="inputBox">
            <span>User Name</span>
            <input type="text" name="username" minlength="5" required>
        </div>
          <div class="inputBox">
            <span>E-mail Address</span>
            <input type="email" name="email" required>
        </div>
            <div class="inputBox">
                <span>Create Password</span>
                <input type="password" name="password" minlength="8" required>
            </div>
            <div class="inputBox">
                <input type="submit" value="Sign Up">
            </div>
            <div class="inputBox">
                <p>
                   Already have account?
                    <a href="Signin">Sign In</a>
                </p>
            </div>
        </form>

    </div>
   </div>  

    </section>

</body>
</html> 