<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Verification</title>
    <link rel="stylesheet" href="/CSS/user/Signin.css">   
</head>
<body>
    <section>
   <div class="contentBox">
    <div class="formatBox">
        <h2>Code Verifacition</h2>

        <form action="/verifycode" method="post" >
            <div class="inputBox">
                <span>Code</span>
                <input type="text" name="code" id="code" required>
            </div>
    
            <div class="inputBox">
                <input type="submit" value="Verify Code">
               
            </div>
        
        </form>
       
    </div>
   </div>  

    </section>
    
</body>
</html> 